
{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- Homes for you -->
	<div class="container c-section ">
	<!-- todo: laad de titel en subtext in via de entry -->
		<h2 class="c-section__title">Villa</h2>
		<p class="c-section__subtitle">10 properties in this category.</p>

		<div class="row g-4 justify-content-center c-section__content">
			<!-- category card -->
			<div  class="col-12 col-sm-6 col-lg-4 c-categories__card">
			<!-- todo: laad de titel en image in via de entry -->
					<div class="c-categories__info">
						<h3 class="c-categories__title">Villa</h3>
						<p class="">10 properties</p>
					</div>
					<div class="c-categories__imgcontainer">
						<img src="img/modern-villa.jpeg" alt="" class="c-categories__img c-categories__img--page">
					</div>
				</div>

			<!-- todo: roep alle entries van de section 'houses' op die 'relatedTo' de entry zijn. Loop over deze entries en vul de immo-cards dynamisch in (zie templates/index.twig hiervoor) -->
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--rent">
							<p>For rent</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4 ">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--rent">
							<p>For rent</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4 ">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--rent">
							<p>For rent</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4 ">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--rent">
							<p>For rent</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
		</div>

	</div>

	<!-- locations -->
	<div class="container c-section">
		<h2 class="c-section__title">Locations</h2>
		<p class="c-section__subtitle">Already found your ideal location?</p>

		<div class="row justify-content-center c-section__content c-locations text-center">
			<div class="col-12 col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class=" c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class=" c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Kortrijk
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Brussel
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Lokeren
						</a>
					</li>
				</ul>
			</div>
			<div class="col-12 col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Antwerpen
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>
			<div class="u-hidden col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>
			<div class="u-hidden col-sm-3 col-lg-2">
				<ul class="c-locations__list">
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">
						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
					<li class="c-locations__list-item pb-2">

						<a class="c-locations__link " href="#">
							Gent
						</a>
					</li>
				</ul>
			</div>

		</div>

	</div>

	
{% endblock %}