
{% extends '_shared/_layout.twig' %}

{% block main %}
	<!-- houses overview -->
	<div class="container c-section ">
		<!-- todo: laad de titel en subtext in via de entry -->
		<h2 class="c-section__title">All Houses</h2>
		<p class="c-section__subtitle">Our broad collection of houses!</p>

		<div class="row g-4 justify-content-center c-section__content">

			<!-- todo: roep alle entries van de section 'houses'  -->
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4 ">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--rent">
							<p>For rent</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4 ">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--rent">
							<p>For rent</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4 ">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--rent">
							<p>For rent</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4 ">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--sale">
							<p>For sale</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
			<!-- immo card -->
			<div class="col-12 col-sm-6 col-lg-4">
				<a href="#" class="c-immo-card">
					<div class="c-immo-card__imgcontainer">
						<img src="{{url('img/houseOne.jpeg')}}" alt="" class="c-immo-card__img">
						<div class="c-immo-card__tag c-immo-card__tag--rent">
							<p>For rent</p>
						</div>

					</div>
					<div class="c-immo-card__infocontainer">
						<div class="c-immo-card__heading">
							<h3 class="c-immo-card__title">Skyper Pool Apartment</h3>
							<p class="c-immo-card__price">$280.000</p>
						</div>
						<div class="c-immo-card__location">
							<img src="{{url('img/icons/location.svg')}}" alt="">
							<p>
								1020 Bloomingdale Ave
							</p>

						</div>
						<div class="c-immo-card__details">
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bed.svg')}}" alt="">
								<p>4 beds
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/bath.svg')}}" alt="">
								<p>2 baths
								</p>
							</div>
							<div class="c-immo-card__icons">
								<img src="{{url('img/icons/sqf.svg')}}" alt="">
								<p>70m²
								</p>
							</div>
						</div>

					</div>
				</a>
			</div>
		</div>

	</div>


	
{% endblock %}